doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title index y portada
        link(rel="stylesheet", href="/css/Predeterminado.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/flexboxgrid.min.css")
    body
        main 
            h1 Gestor de tiempo
                       
            div.row   
                div.col-xs-12.col-sm-4 
                    picture
                        a(href="/Cronometro")
                            img(src="/images/Cronometro Dark.png", width = 250,alt="Cronometro, enlace a la pagina de cronometro")
                            p.description Cronometre el tiempo                        
                div.col-xs-12.col-sm-4                    
                    picture
                        a(href="/Temporizador")
                            img(src="/images/Temporizador Dark.png", width = 250,alt="Temporizador, enlace a la pagina de temporizador")
                            p.description Use un temporizador                        
                div.col-xs-12.col-sm-4                    
                    picture
                        a(href="/Gestor") 
                            img(src="/images/Gestor Dark.png", width = 250,alt="Gestor, enlace a la pagina de gestor")
                            p.description Gestione fechas de cumpleaños 

        footer
            ul
                li#linkdin
                    a(target='_blank', href="https://www.linkedin.com/in/derik-gonz%C3%A1lez-mart%C3%ADn-6b73242a3/") Linkdin
                li#github
                    a(target='_blank', href="https://github.com/derikgm") Github
                

script(src="/js/default/hora.js")