/*Cuerpo del formulario*/
#cuerpo{
    text-align: center;
}
#formulario{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 22%;
    right: 0;
}
input:not([type = submit]){    
    margin-bottom: 10px;
    width: 40px;    
}
label{
    margin-right: 5px;
}  

/*Botones*/
#submit{
    position: fixed;
    background-color: rgb(29, 29, 177);
    border: 1px solid white;
    color: white;
    font-size: 200%;
    border-radius: 15px;
    width: 30%;
    right: 35%;
    bottom: 17%;
    transition: transform 0.3s, background-color 0.4s;
}
#reiniciar_boton{
    position: fixed;
    background-color: rgb(29, 29, 177);
    border: 1px solid white;
    color: white;
    font-size: 200%;
    border-radius: 15px;
    width: 30%;
    right: 35%;
    bottom: 9%;
    transition: transform 0.3s, background-color 0.4s;
}
#parar_boton{
    position: fixed;
    background-color: rgb(29, 29, 177);
    border: 1px solid white;
    color: white;
    font-size: 200%;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 38%;
    right: 31%;
    bottom: 19%;
    transition: transform 0.3s, background-color 0.4s;
    animation: agrandar 1.5s linear infinite;
}
#submit:hover{
    transform: scale(1.1);
    background-color: rgb(51, 87, 207);
}
#reiniciar_boton:hover{
    transform: scale(1.1);
    background-color: rgb(51, 87, 207);
}
#parar_boton:hover{
    background-color: rgb(51, 87, 207);
}

/*zona del contador del temporizador*/
main{
    text-align: center;
}
#temp{
    text-align: center;
    font-size: 400%;
    border: 8px solid white;
    width: 265px;
    padding-top: 90px;
    padding-bottom: 90px;
    border-radius: 50%;
    background-color: rgb(9, 9, 116);
    display: inline-block; 
}

/*animaciones*/
@keyframes parpadeo {
    0%{
        color: rgba(9, 9, 116, 0);
    }49%{
        color: rgba(9, 9, 116, 0);
    }50%{
        color:white
    }
    100%{
        color:white;
    }
}
@keyframes agrandar {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1.0);
    }
}
/*Alarma sonora*/
#alarma{
    display: none; /*ocultar alarma*/
}